{{- if .Values.apiServer.deploy }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "cmk.name" . }}-config
  labels:
    {{- include "cmk.labels" . | nindent 4 }}
immutable: {{ .Values.config.isImmutable | default false }}
data:
  config.yaml: |-
    application:
      name: {{ .Chart.Name }}
    {{- with .Values.config }}
      environment: {{ .environment }}
      {{- with .labels }}
      labels:
        {{- toYaml . | nindent 8 }}
      {{- end}}

    featureGates:
      {{- toYaml .featureGates | nindent 6 }}

    http:
      address: :{{ .http.port }}

    logger:
      {{- toYaml .logger | nindent 6 }}

    status:
      {{- toYaml .status | nindent 6 }}

    certificates:
      {{- toYaml .certificates | nindent 6 }}

    cryptoLayer:
      {{- toYaml .cryptoLayer | nindent 6 }}

    # Telemetry configuration
    telemetry:
      {{- toYaml .telemetry | nindent 6 }}

    # Scheduler configuration
    scheduler:
      {{- toYaml .scheduler | nindent 6 }}

    # Database configuration
    database:
      {{- toYaml .database | nindent 6 }}

    # Services configuration
    services:
      {{- toYaml .services | nindent 6 }}

    # Plugins configuration
    plugins:
    {{ include "cmk.plugins" . | nindent 6 }}

    eventProcessor:
      {{- toYaml .eventProcessor | nindent 6 }}

    configurableContext:
      {{- toYaml .configurableContext | nindent 6 }}

    provisioning:
      {{- toYaml .provisioning | nindent 6 }}

    audit:
      {{- toYaml .audit | nindent 6 }}

    clientData:
      {{- toYaml .clientData | nindent 6 }}

    landscape:
      {{- toYaml .landscape | nindent 6 }}

    {{- end }}
{{- end }}
