networks:
  cmk:

services:
  postgres:
    image: postgres:18-alpine
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: cmk
    command: ["postgres", "-c", "log_statement=all"] # log all queries into the container log file
    volumes:
      - pg_data:/var/lib/postgresql/data
  redis:
    image: redis:8.4-rc1-alpine
    container_name: redis
    ports:
      - "6379:6379"

volumes:
  pg_data:
