mode: deployment

image:
  repository: otel/opentelemetry-collector-k8s

config:
  receivers:
    otlp:
      protocols:
        http:
          endpoint: "0.0.0.0:4318"

  exporters:
    debug:
      verbosity: detailed

  service:
    pipelines:
      logs:
        receivers:
          - otlp
        exporters:
          - debug
      metrics: null
      traces: null
